.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #ffffff;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #000000;
}

.s-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0;
  background: #f5f6f7;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__info {
    display: inline-block;
    margin: 0 50px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #232323;
    a {
      color: #232323;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    a {
      display: inline-block;
      margin: 0 0 0 16px;
      img,
      svg {
        display: block;
        max-width: 20px;
        max-height: 20px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.2);
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
}

.s-header {
  display: block;
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__mob {
    display: none;
  }
  &__logo {
    display: block;
    position: relative;
    img,
    svg {
      display: block;
      position: relative;
      max-width: 241px;
      max-height: 80px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 6px 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 23px;
        color: #232323;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #cb2c30;
          text-decoration: none;
        }
      }
    }
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: relative;
  }
  &__phone {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #232323;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: #cb2c30;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
}

.s-top {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1570px;
  overflow: hidden;
  margin: 60px auto 0 auto;
  padding: 130px 0 290px 0;
  background: #f5f6f7;
  border-radius: 80px;
  &__line {
    display: block;
    position: relative;
    width: 522px;
    height: 5px;
    border-radius: 999rem;
    background: #cb2c30;
  }
  &__image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    display: block;
    position: relative;
    max-width: 700px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 63px;
    color: #232323;
    z-index: 3;
  }
  &__text {
    display: block;
    position: relative;
    max-width: 700px;
    margin: 25px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #939393;
    z-index: 3;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 55px 0 0 0;
    padding: 15px 30px;
    background: #cb2c30;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;
    color: #ffffff;
    z-index: 3;
    img,
    svg {
      display: block;
      max-width: 12px;
      max-height: 12px;
      margin-left: 10px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #cb2c30;
      box-shadow: 0px 20px 20px -17px rgba(255, 0, 0, 0.35);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-why {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 140px 0 20px 0;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__arrows {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #232323;
  }
  &__overflow {
    position: relative;
    overflow: visible;
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: -100%;
      width: 100%;
      height: 300%;
      background: #ffffff;
      pointer-events: none;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: -100%;
      width: 100%;
      height: 300%;
      background: #ffffff;
      pointer-events: none;
      z-index: 2;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    min-height: 315px;
    margin: 0;
    padding: 80px 0 60px 0;
    overflow: visible !important;
  }
  .swiper-wrapper {
    transition-delay: 500ms !important;
    transition-duration: 1ms !important;
  }
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 580px;
    min-height: 175px;
    margin: 0 auto;
    padding: 6px 290px 6px 40px;
    background: #f5f6f7;
    border-radius: 25px;
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 140%;
      color: #232323;
    }
    &__image {
      display: block;
      position: absolute;
      top: 5px;
      right: 50px;
      width: 165px;
      height: 165px;
      filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
      border-radius: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transform-style: preserve-3d;
      z-index: 3;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        right: -10px;
        width: 100%;
        height: 100%;
        box-shadow: 2px -2px 0 1px #cb2c30;
        filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
        border-radius: 20px;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 50px;
    height: 50px;
    margin: 0 0 0 15px;
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      max-width: 14px;
      max-height: 14px;
      opacity: 0.5;
      filter: grayscale(1);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        opacity: 1;
        filter: brightness(0) invert(1);
      }
      background: #cb2c30;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-services {
  display: block;
  position: relative;
  padding: 60px 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #232323;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 256px;
      border-radius: 20px 20px 0 0;
      background-repeat: no-repeat;
      background-size: auto 101%;
      background-position: center center;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 98px;
      padding: 6px 100px 6px 25px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: #232323;
      transition: all 0.2s ease-out;
    }
    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 25px;
      top: 50%;
      width: 50px;
      height: 50px;
      border-radius: 999rem;
      background: #ffffff;
      border: 2px solid #f5f6f7;
      transform: translateY(-50%);
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 14px;
        max-height: 14px;
      }
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-services-card__arrow {
        border-color: #cb2c30;
        background: #cb2c30;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      .s-services-card__image {
        background-size: auto 120%;
      }
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 25px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #232323;
  }
  &__label {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #232323;
  }
  ::placeholder {
    color: rgba(35, 35, 35, 0.31);
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 15px;
    border: 0;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #232323;
  }
  &__info {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #bebebe;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 30px;
    border: 0;
    outline: none;
    background: #cb2c30;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;
    color: #ffffff;
    z-index: 3;
    img,
    svg {
      display: block;
      max-width: 12px;
      max-height: 12px;
      margin-left: 10px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #cb2c30;
      box-shadow: 0px 20px 20px -17px rgba(255, 0, 0, 0.35);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-price {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
  padding: 140px 0 120px 0;
  border: 15px solid #f5f6f7;
  box-sizing: border-box;
  border-radius: 80px;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__title {
    display: block;
    margin: 0 0 60px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #232323;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #e3e3e3;
    &:last-child {
      border: 0;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 140%;
      color: #232323;
    }
    &__subtitle {
      display: block;
      margin: 0 0 10px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: #232323;
    }
    &__text {
      display: block;
      margin: 0 0 10px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: #232323;
    }
    &__price {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 140%;
      color: #cb2c30;
    }
    &__link {
      display: flex;
      align-items: center;
      margin: 10px 0 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      color: #cb2c30;
      img,
      svg {
        display: block;
        max-width: 12px;
        max-height: 12px;
        margin: 0 0 0 10px;
      }
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
  .table {
    tr {
      border: 0;
    }
    th {
      padding: 15px 4px;
      padding-top: 30px;
      border: 0;
      border-bottom: 1px solid #e3e3e3 !important;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 140%;
      color: #232323;
    }
    td {
      padding: 12px 4px;
      border: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: #cb2c30;
      &:first-child {
        color: #232323;
      }
    }
  }
}

.s-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px 10px 0;
      padding: 8px;
      border: 1px solid #adadad;
      border-radius: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: #adadad;
      &.current {
        border: 1px solid #cb2c30;
        color: #cb2c30;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    &.current {
      display: block;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #787878;
    ul {
      display: block;
      position: relative;
      margin: 15px 0;
      padding: 0;
      list-style: none;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: -0.005em;
      color: #232323;
      li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 0 10px 15px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: 10px;
          left: 0;
          width: 6px;
          height: 6px;
          background: #cb2c30;
          border-radius: 999rem;
        }
      }
    }
    b,
    strong {
      font-style: normal;
      font-weight: normal;
      color: #cb2c30;
    }
  }
}

.s-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 140px 0 160px 0;
  overflow: hidden;
  &__title {
    display: block;
    margin: 0 0 85px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #232323;
  }
  &__image {
    display: block;
    position: absolute;
    right: -220px;
    top: 50%;
    width: 100%;
    max-width: 580px;
    height: 430px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
    border-radius: 35px;
    transform: rotate(5.06deg) translateY(-50%);
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 10px;
      right: 10px;
      width: 100%;
      height: 100%;
      box-shadow: -2px 2px 0 1px #cb2c30;
      filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
      border-radius: 35px;
      transform: translateZ(-1px);
      z-index: -1;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 90px 0;
    padding: 40px 405px 40px 40px;
    background: #f5f6f7;
    border-radius: 30px;
    &_alt {
      padding: 40px 40px 40px 405px;
      .s-about__image {
        right: auto;
        left: -200px;
        height: 390px;
        transform: rotate(-5.06deg) translateY(-50%);
        &:after {
          right: -10px;
          box-shadow: 2px 2px 0 1px #cb2c30;
        }
      }
    }
    &__text {
      display: block;
      margin: 0 0 20px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      color: #232323;
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 140%;
      color: #474747;
      li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 0 10px 15px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: 10px;
          left: 0;
          width: 6px;
          height: 6px;
          background: #cb2c30;
          border-radius: 999rem;
        }
      }
    }
  }
  &__info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 40px;
    border: 15px solid #f5f6f7;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #232323;
  }
}

.s-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 215px 0;
  background: #f5f6f7;
  &__image {
    display: block;
    position: absolute;
    top: 140px;
    right: calc((100vw - 1200px) / 2);
    width: 100%;
    max-width: 787px;
    height: 713px;
    border-radius: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform-style: preserve-3d;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 514px;
      height: 514px;
      left: -290px;
      top: -70px;
      border-radius: 999rem;
      background: #e1e8ef;
      transform: translate3d(0, 0, -1px);
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 20px;
      left: 20px;
      width: 100%;
      height: 100%;
      box-shadow: 2px 2px 0 1px #cb2c30;
      filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
      border-radius: 60px;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 515px;
    margin: 0;
    padding: 70px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    z-index: 3;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #232323;
  }
  &__label {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #232323;
  }
  ::placeholder {
    color: rgba(35, 35, 35, 0.31);
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 15px;
    border: 1px solid #edeeef;
    background: #ffffff;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #232323;
  }
  &__info {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #bebebe;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 30px;
    border: 0;
    outline: none;
    background: #cb2c30;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;
    color: #ffffff;
    z-index: 3;
    img,
    svg {
      display: block;
      max-width: 12px;
      max-height: 12px;
      margin-left: 10px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #cb2c30;
      box-shadow: 0px 20px 20px -17px rgba(255, 0, 0, 0.35);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-seo {
  display: block;
  position: relative;
  padding: 140px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #232323;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: 72px;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #232323;
    transition: all 0.2s ease-out;
    &_active {
      height: 100% !important;
      &:after {
        pointer-events: none;
        opacity: 0;
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      );
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #cb2c30;
    &_active {
      img,
      svg {
        transform: rotate(180deg);
      }
    }
    img,
    svg {
      display: block;
      max-width: 12px;
      max-height: 12px;
      margin: 0 0 0 10px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
}

.s-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 105px 0;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    padding: 70px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    z-index: 2;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #232323;
  }
  &__subtitle {
    display: block;
    margin: 25px 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #cb2c30;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #232323;
    a {
      color: #232323;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s-footer {
  display: block;
  position: relative;
  padding: 85px 0;
  background: #232323;
  &__logo {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    img,
    svg {
      display: block;
      position: relative;
      max-width: 253px;
      max-height: 90px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
    max-width: 320px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      flex: 0 1 160px;
      a {
        display: block;
        margin: 0 5px 15px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 23px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #cb2c30;
          text-decoration: none;
        }
      }
    }
  }
  &__link {
    display: block;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: #cb2c30;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
  &__social {
    display: block;
    position: relative;
    a {
      display: block;
      margin: 0 0 15px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 23px;
      color: #838383;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: relative;
    text-align: right;
  }
  &__phone {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cb2c30;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    max-width: 270px;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: #ffffff;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 20px;
  }
  &__subinfo {
    display: flex;
    align-items: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #838383;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
      margin-right: 10px;
    }
    a {
      color: #838383;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cb2c30;
        text-decoration: none;
      }
    }
  }
}

.s-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #111111;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    filter: brightness(0) invert(1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 20px 0;
    padding: 60px 20px;
    ::placeholder {
      color: rgba(35, 35, 35, 0.31);
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 15px;
      border: 0;
      background: #ffffff;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: #232323;
    }
  }
  &__title {
    display: block;
    margin: 0 0 80px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #95c132;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .s-header__mob {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
    }
    z-index: 4;
  }
  .s-form {
    overflow: hidden;
  }
  .s-info {
    display: none;
  }
  .s-info__social {
    width: 100%;
  }
  .s-info__social a {
    margin: 10px 10px 0 0;
  }
  .s-header__nav {
    display: none;
  }
  .s-header__nav li {
    width: 100%;
    a {
      width: 100%;
      text-align: center;
    }
  }
  .s-header__column {
    display: none;
    width: 100%;
  }
  .s-header__phone {
    width: 100%;
    text-align: center;
  }
  .s-header__link {
    width: 100%;
    text-align: center;
  }
  .s-header > .container {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .s-header__logo img,
  .s-header__logo svg {
    max-width: 200px;
  }
  .s-top {
    margin: 20px 0;
    padding: 40px 15px;
  }
  .s-top__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .s-top__line {
    top: 39px;
    width: 240px;
  }
  .s-why {
    padding: 40px 0;
  }
  .s-why__arrows {
    padding: 20px 0 0 0;
  }
  .s-why-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  .s-why-card__image {
    position: relative;
    margin-top: 20px;
  }
  .s-services {
    padding: 0 0 40px 0;
  }
  .s-price {
    padding: 30px 0;
  }
  .s-price__title {
    margin-bottom: 20px;
  }
  .s-tabs__header li {
    margin: 0 5px 5px 0;
    padding: 6px;
    font-size: 14px;
  }
  .s-price {
    border-radius: 40px;
  }
  .s-about {
    padding: 40px 0;
  }
  .s-about__title {
    margin-bottom: 20px;
  }
  .s-about-card {
    margin-bottom: 30px;
    padding: 20px !important;
  }
  .s-about__image {
    position: relative;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    width: 100% !important;
    height: 300px !important;
    margin: 0 0 20px 0 !important;
    transform: none !important;
  }
  .s-about__info {
    padding: 30px 20px;
    font-size: 18px;
  }
  .s-form {
    padding: 40px 0;
    &__image {
      display: none;
    }
  }
  .s-form__content {
    padding: 30px 20px;
  }
  .s-seo {
    padding: 40px 0;
  }
  .s-contacts__content {
    padding: 30px 20px;
  }
  #map {
    position: relative;
    height: 350px;
  }
  .s-contacts {
    padding: 20px 0;
  }
  .s-contacts__info {
    font-size: 20px;
  }
  .s-footer {
    padding: 40px 0;
  }
  .s-footer__subinfo {
    margin: 10px 0 0 0;
  }
  .s-footer__column {
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }
  .s-why__cards {
    padding: 20px 0;
  }
  .s-services-card__image {
    height: 240px !important;
    background-size: cover;
  }
  .s-form__content {
    margin: 0 auto;
  }
}
